CSHTML5.Samples.Showcase/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cshtml5-soap-sample.azurewebsites.net/Service1.svc?xsd=xsd1" namespace="http://microsoft.com/wsdl/types/" />
  <xs:element name="GetToDos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="ownerId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToDosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetToDosResult" type="tns:ArrayOfToDoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfToDoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToDoItem" nillable="true" type="tns:ToDoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ToDoItem">
    <xs:sequence>
      <xs:element xmlns:q2="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="Id" type="q2:guid" />
      <xs:element xmlns:q3="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="OwnerId" type="q3:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddOrUpdateToDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="toDoItem" type="tns:ToDoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateToDoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeleteToDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="toDoItem" type="tns:ToDoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteToDoResponse">
    <xs:complexType />
  </xs:element>
</xs:schema>